DATABASE_URL="file:../data/moodtracker.db"

JWT_SECRET="dein_super_geheimes_jwt_secret"

NODE_ENV="development"

APP_URL="http://localhost:3001"
CLIENT_URL="http://localhost:3001"

RESEND_API_KEY="dein_resend_api_key"

EMAIL_FROM="Mood Tracker <onboarding@resend.dev>"